@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>版本號 : 1.0.0.3123564561561156161</h1>
<h1 style="color:red">修改內容:新增R2KN</h1>


<h5>需求建議</h5>
<textarea style="width:500px;height:500px"></textarea>
<br />
<input id="87" type="button" value="送出" />


<p>Use this area to provide additional information.</p>

<script>
    $("#87").on("click", function (e) {
        alert("87 誰要改");
    });
</script>